html
  head
    title Logging to Google
    style
      include ./css/logging.css
  body
    include ./header.pug
    div.container
      h1 You have logged #{first_name} #{last_name} properly :)
    include ./footer.pug